*{

    margin: 0;
    padding: 0;
}



body{
 background-image: url(img/final1.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h1{

    color: white;
    margin-top: 90px;
   
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.details{

    text-align: center;
    margin-top: 30px;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    
}
 .details a{

    text-decoration: none;
    color: white;
}

b{

    margin-bottom: 20px;
}

.about{
 background:linear-gradient(to right,rgb(100,100,100),rgb(53,52,52));
 text-align: center;
   margin-top: 100px;
   color: white;
}
.about h1{

    margin-bottom: 20px;
    text-decoration: underline white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about p{

    padding: 30px;
   
}

footer{
    background-color: rgb(55, 55, 55);
    color:var(--white);
    padding:.25em 1em;
  margin-top: 60px;
}

#copyright{
   
    margin-top: 20px;
    color: white;
}
.social-menu ul{
    display: flex;
    padding:0;
}

.social-menu ul li{
    list-style: none;
    display:inline-block;
    margin: 0 15px;
    margin-top: 20px;
}

.social-menu ul li .fab{
    font-size: 25px;
    line-height: 40px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
    
.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #4267B2;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #00ACEE;
}
