*{

    margin: 0;
    padding: 0;
}

:root{

 /*---colors*/
 --yellow:#ffc93c;
 --red:#dc2f2f;
 --green:#35bcbf;
 --white:#fcfefe;

}



.menu{

    display: grid;
    background-image:url(img/final2.png);
    color: var(--white);
    grid-template-columns: repeat(auto-fit,minmax(244px,1fr));  /*ethu romba important ethu thaan rsponsive ku help panuthu*/
    background-position: center;
    
 
    
}
#menuheading{

   background-image:url(img/final2.png);
  
     color: var(--yellow);
     font-size: xx-large;
     display: flex;
     justify-content: center;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: initial;
    font-weight: bolder;
   
}
.menu th{

    color: aqua
}
table{

    width: 100%;
    padding: 10px;
}

.photo{
    display: flex;
    flex-wrap: wrap;
    margin-top:60px;
    justify-content: center;
}
.photo div{

    width: 225px;
    margin: 10px;
    flex-basis: 20%;
   
}
.photo p{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-weight: bold;
    font-size: large;
}

.last{

    
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    
}

