


body,h2{        /*inga yen h2 ku margin 0 kuduthurukomna keela menu ku margine edukanuma so 
                    athukaga kuduthurukom , margin and location rendayum h2 la kuduthurukanala 
                    h2 select panirukom vera engayum h2 use panala so athoda id kudukama h2 nu kuduthurukom*/
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


:root{

 /*---colors*/
 --yellow:#ffc93c;
 --red:#dc2f2f;
 --green:#35bcbf;
 --white:#fcfefe;

}

.landingimg{

    background-image: url(img/landing.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar h1{

    color: var(--yellow);
}
.navbar{

    display: flex;
    justify-content: space-between;
   align-items: center;
   padding: 20px;

}
.nav-links{

    display: flex;
    column-gap: 20px;
    margin-right: 20px;
}
button a{
    text-decoration: none;
    color: white;
}
.nav-links a{

    text-decoration: none;
    cursor: pointer;
    color: var(--yellow);
}
.nav-link a:hover{

    color: white;
    text-decoration: underline;
}

.maintext{
    margin-left: 10%;
    margin-top: 40px;
}
.line1{

    color: aqua;
    font-size: xx-large;
    font-weight: bold;
}
.line2{

    color: var(--yellow);

}
button{

    padding: 10px;
   background-color: darkslategray;
   color: var(--white);
   border-radius: 15px;
   width:180px;
   
}


#locheading{

      background-image: url(img/final1.png);
       display: flex;
       justify-content: center;
       font-weight: bold;
       color: var(--yellow);
}
.locations{

  background-image: url(img/final1.png);
  background-position: center;
   color: var(--white);
   display: flex;
   
    
 
   
}
.locations h2{

    color: var(--green);
    margin-bottom: 20px;
   
}
.locations address{

    margin-bottom: 15px;
                                                    
    
}
.locations div{

    flex-grow: 1;
    padding: 20px;
    
}
i{

    margin-right: 15px;
}
 @media screen and (max-width:527px){

    .locations,.locations div{

        flex-wrap: wrap;                           
    }
}
        

        
        
                                                    /*flex ku media , grid ku repeat uhh
    
                                                    media query ku mela ulla pixels pakanum 
                                                                                                     , repeat ku inspect la pakanum*/
    /* namma menu thottam keela poganumna menu div la class ku bathila id podanum
    and antha nav bar laam link ah create pananum avlotha antha link la href 
    pakathula #menuheading antha menu div ku id ku name vachurupomla atha ppodanuma*/


    